# Dependências (Node e Python)
node_modules/
**/node_modules/
venv/
env/
.venv/
__pycache__/
*.pyc

# Next.js (Cache, Build e Traces)
.next/
**/.next/
out/
build/
.vercel
.turbo/
trace
**/trace

# Arquivos de Cache do Turbopack (O que apareceu no seu log)
**/dev/cache/turbopack/
**/CURRENT
**/MANIFEST-*
**/LOCK
**/LOG
**/LOG.old

# Logs e Mapas de código
*.log
*.map
*.css.map
*.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
next-development.log

# Variáveis de Ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript e Outros
*.tsbuildinfo
next-env.d.ts
.DS_Store
Thumbs.db
*.pem

# FFmpeg e Downloads
ffmpeg.exe
ffprobe.exe
backend/downloads/
downloads/
*.part
*.ytdl
*.f*
/frontend/.next/dev/logs
*.log
